POSTGRES_HOST=127.0.0.1
POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_password
POSTGRES_DB=example_db
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable
POSTGRES_TIMEZONE=Europe/Moscow

ALLOWED_ORIGINS=*

APP_HOST=:1327